# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
downloads/
eggs/
*.egg-info/
*.egg

# Project artifacts
.venv
.pytest_cache
tmp
TODO
datastore.db
*.conf
*.ini
conf/*.conf
conf/*.ini
*.crt
*.pem
ht*
.ht*
geckodriver.log
