<% if (job.arguments.length > 0) {
    var value, selected;
    var i = 0; %>
    <% _.forEach(job.arguments, function(argument) {
        value = undefined;
        if (i < data.length) { value = data[i]; } %>
        <% if (argument.type == "string") { %>
            <input type="text" class="form-control" placeholder="<%- argument.description %>" value="<%- value %>" argtype="string">
        <% } else if (argument.type == "list") { %>
            <input type="text" class="form-control" placeholder="<%- argument.description %>" value="<%- value %>" argtype="list">
        <% } else if (argument.type == "bool") { %>
            <span class="form-control">
                <label for="" class="col-sm-4"><%- argument.description %>:</label>
                <div class="col-sm-8"><input type="checkbox" value="<%- value %>"
                     argtype="bool" placeholder="<%- argument.description %>"></div>
            </span>
        <% } else if (argument.type == "range") {
            if (argument.min === undefined) {argument.min = 0} 
            if (argument.max === undefined) {argument.max = 10} 
            if (argument.step === undefined) {argument.step = 1}
            if (value == "" || value === undefined) {value = argument.min} %>
            <span class="form-control">
                <label for="" class="col-sm-4"><%- argument.description %>:</label>
                <div id="job-arg<%- i %>-counter" class="col-sm-2"><%- argument.min %></div>
                <div class="col-sm-6">
                    <input id="job-arg<%- i %>" class="slider" type="range" value="<%- value %>"
                           argtype="range" placeholder="<%- argument.description %>"
                           min="<%- argument.min %>" max="<%- argument.max %>" step="<%- argument.step %>"
                           oninput="$('#job-arg<%- i %>-counter').html(this.value);"
                           onchange="$('#job-arg<%- i %>-counter').html(this.value);">
                </div>
            </span>
        <% } else if (argument.type == "file") { %>
            <select class="form-control" argtype="file" placeholder="<%- argument.description %>">
                <% if (value === undefined) { %>
                    <option value="" disabled selected><%- argument.description %></option>
                <% } %>
                <% _.forEach(files, function(file) {
                    selected = value == file ? " selected" : ""; %>
                <option value="<%- file %>"<%- selected %>><%- file %></option>
                <% }); %>
            </select>
        <% }
        i += 1;
    });
} %>
